<!-- Views/Food/Index.cshtml -->
@model List<FoodItem>

<h2>Food Items</h2>
<a asp-action="Create" class="btn btn-primary">Add</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var foodItem in Model)
        {
            <tr>
                <td>@foodItem.Id</td>
                <td>@foodItem.Name</td>
                <td>@foodItem.Description</td>
                <td>@foodItem.Price.ToString("N2")</td>
                 <td>
                    <a asp-action="Details" asp-route-id="@foodItem.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@foodItem.Id"  class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@foodItem.Id" class="btn btn-danger"
       onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>                  </td>
            </tr>
        }
    </tbody>
</table>
